.cart-menu {
  position: absolute;
  top: 35px;
  right: 7px;
  left: -370px;
  background-color: #ebe8e8f5;
  width: 440px;
  padding: 5px 20px;
  z-index: 2;
  border-radius: 15px;
}

@media (max-width: 510px) {
  .cart-menu {
    left: -340px;
  }
  .cart-menu {
    width: 400px;
  }
}
@media (max-width: 468px) {
  .cart-menu {
    top: 45px;
  }
}
@media (max-width: 450px) {
  .cart-menu {
    left: -285px;
  }
  .cart-menu {
    width: 345px;
  }
}
@media (max-width: 408px) {
  .cart-menu {
    left: -265px;
  }
  .cart-menu {
    width: 330px;
  }
}

@media (max-width: 388px) {
  .cart-menu {
    left: -235px;
  }
  .cart-menu {
    width: 290px;
  }
}
