/* .product-items {
  width: 100%;
  margin-bottom: 5px;
  background: #fff;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  border: solid 2px #f5f5f5f5;
  min-height: 400px;
  height: auto;
}

.product-items__img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden; 
}

.product-items__title {
  display: block;
  margin-top: 5px; 
  margin-bottom: 5px; 
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5; 
  padding: 0 10px; 
  font-family: "RoadRadio-Thin" !important;
}

.product-items__desc {
  margin: 5px 0 !important;
  line-height: 1.1;
  font-size: 13px;
  font-family: "RoadRadio" !important;
}


 */

.product-items {
  width: 100%;
  margin-bottom: 2px;
  background: #fff;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  border: solid 2px #f5f5f5;
  height: 100%;          
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.product-items__details {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.product-items__img {
  width: 100%;
  height: auto;
  max-height: 200px;           
  object-fit: contain;        
  flex-shrink: 0;
}

.product-items__title {
  margin: 10px 0 8px;
  font-size: 14px;
  text-transform: uppercase;
  flex-shrink: 0;
  font-family: "RoadRadio-Thin" !important;
}

.product-items__desc {
  flex-grow: 1;            
  margin: 0 0 12px;
  font-size: 13px;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 3;      
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "RoadRadio" !important;
}


.product-items .buy-button { 
  margin-top: auto;
  flex-shrink: 0;
}

@media only screen and (max-width: 700px) {
  .product-items {
    min-height: 305px;
    width: 220px;
  }

  .product-items__img {
    max-height: 160px;
    object-fit: contain;
  }

  .product-items__title {
    font-size: 13px;
  }

  .product-items__desc {
    font-size: 12px;
  }
}

