.product-items {
  width: 100%;
  margin-bottom: 5px;
  background: #fff;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  border: solid 2px #f5f5f5f5;
  min-height: 400px;
  height: auto;
}

.product-items__img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden; 
}

.product-items__title {
  display: block;
  margin-top: 5px; 
  margin-bottom: 5px; 
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5; 
  padding: 0 10px; 
  font-family: "RoadRadio" !important;
}

.product-items__desc {
  margin: 5px 0 !important;
  line-height: 1.1;
  font-size: 13px;
  font-family: "RoadRadio" !important;
}


.product-items__img-unvisible {
  width: 280px;
  height: 280px;
  background-size: cover;
  background-position: center;
  background-color: #fff;
}


@media only screen and (max-width: 700px) {
  .product-items {
    min-height: 305px;
    width: 220px;
  }

  .product-items__img {
    max-height: 160px;
    object-fit: contain;
  }

  .product-items__title {
    font-size: 13px;
  }

  .product-items__desc {
    font-size: 12px;
  }
}

/* @media only screen and (max-width: 700px) {
  .product-items {
    min-height: unset;
    height: auto;
    padding: 10px 0;
    border-width: 1px;
  }

  .product-items__details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-items__img {
    width: 80%;
    height: auto; 
    max-height: 140px;
    object-fit: contain; 
    object-position: center;
  }

  .product-items__title {
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 2px;
    text-align: center;
  }

  .product-items__desc {
    font-size: 12px;
    margin: 3px 0 !important;
    text-align: center;
    line-height: 1.3;
  }

  .icon-background {
    height: auto;
  }

  .product-items__img-unvisible {
    width: 150px;
    height: 150px;
  }
} */
