.order-item {
  display: flex;
  margin-bottom: 30px;
}

.order-item_cover {
  width: 100px;
  margin-right: 30px;
}

.order-items_img {
  width: 140px;
}

.order-item_title {
  font-size: 24px;
  font-weight: bold;
}

.order-item__price {
  font-size: 24px;
  font-weight: bold;
  margin-left: auto;
}

.cart-item_delete {
  margin-left: 5px;
  cursor: pointer;
  color: #de682d;
}
