.cart-block {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-price {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
  font-size: 17px;
  width: 60px;
}
.items-in-cart {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #de682d;
  color: #fff;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.cart-icon {
  cursor: pointer;
  position: relative;
}

@media only screen and (max-width: 512px) {
  .cart-price {
    margin-left: 3px;
    font-size: 15px;
    width: 60px;
  }
}
