
.cart-block {

  align-items: center;

}

.cart-price {
  font-weight: 600;
  font-size: 16px;
  min-width: 70px;
  text-align: center;
  white-space: nowrap;
}

.cart-icon {
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
