.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden; /* не даст вылезать */
  max-width: 90px; /* ограничим */
}

.cart-block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 4px;
  max-width: 100%;
  flex-shrink: 1;
}

.cart-price {
  margin-left: 5px;
  font-weight: 600;
  font-size: 15px;
  max-width: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@media only screen and (max-width: 512px) {
  .cart-price {
    margin-left: 3px;
    font-size: 15px;
    width: 60px;
  }
}
