
.climbingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
}


.climbingContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 100%;
  /* padding-left: 20px;  */
}

/* Видео */
.climbingVideo {
  width: 460px;
  height: 355px;
  display: flex;
  flex-direction: row;
}

/* Детали */
.climbingDetails {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  text-align: center; */
  max-width: 900px;
}

/* Текст */
.climbingText {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.routesTitleText {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  font-family: "RoadRadio";
  /* color: "red"; */
  /* margin-bottom: 30px; */
}

/* Кнопка */
.climbingButton {
  display: inline-block;
  background-color: #f68632;
  color: #fff;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  transition: background-color 0.3s ease;
}

.climbingButton:hover {
  background-color: #d76f3b;
}

/* Ссылка */
.climbingLink {
  font-size: 16px;
  color: #c35b28;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  justify-content: center;
  text-align: center;
}

.climbingLink:hover {
  color: #d76f3b;
}

/* Адаптивность для мобильных устройств */
/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .routesTitleText {
    justify-content: center;
  }
  .climbingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .climbingContent {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центровка всех элементов по горизонтали */
    justify-content: center; /* Центровка всех элементов по вертикали */
    gap: 20px; /* Добавим промежуток между элементами */
    width: 100%;
    text-align: center;
  }

  .climbing-video {
    width: 90%; /* Видео занимает почти всю ширину экрана */
    max-width: 460px; /* Ограничим максимальную ширину */
    height: auto; /* Соотношение сторон сохранится */
  }

  .climbing-details {
    margin: 0;
    padding: 0 20px;
    max-width: 90%;
  }

  .climbing-text {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .climbing-button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .climbing-link {
    font-size: 14px;
  }
}
