
.climbingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0px;
  padding: 0;
  width: 100%;
}


.climbingContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 100%;
}


.climbingVideo {
  width: 460px;
  height: 355px;
  display: flex;
  flex-direction: row;
}

.climbingDetails {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  text-align: center; */
  max-width: 900px;
}

.climbingText {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
  font-family: "RoadRadio-Light", sans-serif;
}

.routesTitleText {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  font-family: "RoadRadio";
  /* color: "red"; */
  /* margin-bottom: 30px; */
}

.climbingButton {
  display: inline-block;
  background-color: #f68632;
  color: #fff;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  transition: background-color 0.3s ease;
}

.climbingButton:hover {
  background-color: #d76f3b;
}

.climbingLink {
  font-size: 16px;
  color: #c35b28;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  justify-content: center;
  text-align: center;
}

.climbingLink:hover {
  color: #d76f3b;
}

@media (max-width: 768px) {
  .routesTitleText {
    justify-content: center;
  }
  .climbingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .climbingContent {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    width: 100%;
    text-align: center;
  }

  .climbingVideo {
    width: 90%;
    max-width: 460px; 
    height: auto;
  }

  .climbingDetails {
    margin: 0;
    padding: 0 20px;
    max-width: 90%;
  }

  .climbingText {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .climbingButton {
    font-size: 14px;
    padding: 10px 20px;
  }

  .climbingLink {
    font-size: 14px;
  }
}
