.contentImage{
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 8px;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #f0f0f0;
                  flex-direction: row;
}