.contentImage{
     width: 100%;
     height: 350px;
     overflow: hidden;
                  border-radius: 8px;
                  boxShadow: "0 4px 8px rgba(0, 0, 0, 0.1)",
                  display: "flex",
                  justifyContent: "center",
                  alignItems: "center",
                  backgroundColor: "#f0f0f0",
                  flexDirection: "row",
}