.lake-route-page-cover-img{
    display: flex;
    flex-direction: row;
    gap:10px
}
.back-button {
  background: transparent;
  border: none;
  color: #000; 
  font-size: 16px;
  display: flex;
  align-items: center;
  /* gap: 6px; */
  cursor: pointer;
}

.route-page-img{
  width: 100%;
}

.back-button:hover {
  color: #ff6a2b;
}

.back-button-cover {
  color: #000; 
}
