
.product-card {
  padding: 24px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  gap: 24px;
}

.product-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}


.product-image-box {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
}
.product-info {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.product-title {
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: "RoadRadio-Bold", sans-serif !important;
}

.product-buy {
  max-width: 100%;
}

.product-link {
  color: #3d3d3d;
  text-decoration: none;
  font-weight: 600;
}

.product-link:hover {
  text-decoration: underline;
}

/* Описание */
.product-description {
  width: 100%;
  margin-top: 16px;
}
.product-info-additional{
  color: rgb(132, 132, 132);
  font-family: "RoadRadio-Thin", sans-serif !important;
}

.product-desc-title {
  margin-bottom: 16px;
  font-weight: 600;
  text-decoration: underline #de682d 2px;
}


.product-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.product-list li {
  margin-bottom: 8px;
  padding-left: 0;
  display: flex;
  align-items: flex-start; 
  gap: 8px; 
}

.product-list ul {
  padding-left: 0;
  margin-left: 0;
}

.product-related {
  width: 100%;
  font-weight: 600;
}

.product-related-title{
   margin-bottom: 16px;
  font-weight: 600;
}


.active:hover{
  color:#f87736;
  font-family: "RoadRadio-Thin";
  font-weight: 500;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: #222;
}


@media only screen and (max-width: 785px) {
  .product-page__title {
    font-size: 17px;

  }
  .product-text {
    font-size: 15px;
  }
  .column {
    margin-top: 10px;
  }
  .product-list-item{
     margin-bottom: 8px;
  padding-left: 0;
  display: flex;
  align-items: flex-start; 
  gap: 8px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
  word-break: normal;
  }
}
@media only screen and (max-width: 610px) {
  .product-page__wrapper {
    display: flex;
    flex-direction: column;
  }
  .image-container {
    width: 80%;
  }

  .product-info-container {
    width: 100%;
  }
   .product-list-item{
     margin-bottom: 8px;
  padding-left: 0;
  display: flex;
  align-items: flex-start; 
  gap: 8px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
  word-break: normal;
  }
}

@media (max-width: 900px) {
  .product-top {
    flex-direction: column;
  }
 
}