/* .product-page__wrapper {
  display: flex;
  margin-bottom: 60px;
}

.product-page__img {
  width: 70%;
  object-fit: cover;
}

.product-container{
  display: flex;
  flex-direction: row;
  gap: 20px
}

.image-container {
  width: 50%;
}
.product-items_price{
  font-family: "RoadRadio-Bold";
  font-size: 36px;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}
.product-info-container {
  padding-bottom: 60px;
  width: 50%;
}

.product-page__title {
  font-weight: 300;
}

.product-text {
  margin: 0;
  font-weight: 600;
}

.column {
  margin: 0;
  list-style-type: circle;
  padding-bottom: 10px;
}

.column__list {
  color: #f68632;
  padding: 2px;
  width: 100%;
}

span {
  color: black;
}

.product-page__price__buy {
  color: #222;
  background-color: #f68632;
}

.title {
  font-weight: 300;
  margin: 0px;
}

.cover-list {
  background-color: #f5f5f5f5;
  border-radius: 50px;
  padding-bottom: 10px;
}

.cover-list li {
  padding: 0;
}

.product-page__day {
  font-size: 18px;
  margin-left: 5px;
}

.cover-count {
  display: flex;
  justify-content: center;
  padding-right: 50px;
  padding-top: 10px;
  font-size: 30px;
}

.cover-count-price {
  position: absolute;
  margin-top: 110px;

  font-size: 17px;
  width: 300px;
} */

.product-card {
  padding: 24px;
  margin-bottom: 24px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  gap: 24px;
}

.product-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}

@media (max-width: 900px) {
  .product-top {
    flex-direction: column;
  }
}
.product-image-box {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
}
.product-info {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.product-title {
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: "RoadRadio-Bold", sans-serif;
}

.product-buy {
  max-width: 100%;
}

.product-link {
  color: #3d3d3d;
  text-decoration: none;
  font-weight: 600;
}

.product-link:hover {
  text-decoration: underline;
}

/* Описание */
.product-description {
  width: 100%;
  margin-top: 16px;
}
.product-info-additional{
  color: rgb(132, 132, 132);
    font-family: "RoadRadio-Thin", sans-serif;
}

.product-desc-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-family: "RoadRadio-Bold", sans-serif;
  text-decoration: underline #de682d 2px;
}



.product-list {
  margin-bottom: 0;
}

.product-list li {
 
  margin-bottom: 8px;
}

/* С этим товаром покупают */
.product-related {
  width: 100%;
  margin-top: 24px;
  font-weight: 600;
}


.active:hover{
  color:#f87736 ;
  font-family: "RoadRadio-Thin";
  font-weight: 500;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: #222;
}


@media only screen and (max-width: 785px) {
  .product-page__title {
    font-size: 17px;

  }
  .product-text {
    font-size: 15px;
  }
  .column {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 610px) {
  .product-page__wrapper {
    display: flex;
    flex-direction: column;
  }
  .image-container {
    width: 80%;
  }

  .product-info-container {
    width: 100%;
  }
}
