
.contact-title {
  text-align: left;
  margin: 40px  0px 40px!important;
  color: #333;
  font-weight: 700 !important;
  font-family: "RoadRadio";
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
}

.contact-info {
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

