

.images-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  width: 90%;
  height: calc(90% - 20px);
}

.works-photos-title{
  font-family: "RoadRadio";
  color: #f87736;
}

.modal-image {
  width: 48%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.service-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}

.service-table th,
.service-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.service-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.service-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.service-table tr:hover {
  background-color: #f1f1f1;
}
