.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 50%;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.images-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  width: 85%;
}

.modal-image {
  width: 48%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.open-modal-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.service-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}

.service-table th,
.service-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.service-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.service-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.service-table tr:hover {
  background-color: #f1f1f1;
}
