.product-items {
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  border: solid 2px #f5f5f5f5;
  height: 480px;
}

.product-items__img {
  width: 65%;
  background-size: cover;
  background-position: center;
}

.product-items__title {
  display: block;
  margin-top: 15px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -0.5px; /* Уменьшает расстояние между буквами */
  word-spacing: -1px; /* Уменьшает расстояние между словами */
  margin-bottom: 8px;
}

.icon-search {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f5f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 500ms ease;
}

.icon-search:hover {
  transform: scale(1.1);
}

.icon-background {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms ease;
}

.icon-background:hover {
  opacity: 1;
}

.product-items__img-unvisible {
  width: 280px;
  height: 280px;
  background-size: cover;
  background-position: center;
  background-color: #fff;
}

@media only screen and (max-width: 700px) {
  .product-items {
    height: 300px;
  }
  .product-items__title {
   font-size: 14px;
}
}
