.product-items {
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  border: solid 2px #f5f5f5f5;
  min-height: 450px;
  height: auto;
}

.product-items__img {
  width: 55%;
  background-size: cover;
  background-position: center;
}


.product-items__title {
  display: block;
  margin-top: 5px; 
  margin-bottom: 2px; 
  text-transform: uppercase;
  line-height: 1.5; 
 font-weight: 400;
  padding: 0 10px; 
}


.product-items__desc {
  margin: 2px 0 !important;
  line-height: 1.1;
}

.icon-search {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f5f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 500ms ease;
}

.icon-search:hover {
  transform: scale(1.1);
}

.icon-background {
  opacity: 0;
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms ease;
}

.icon-background:hover {
  opacity: 1;
}

.product-items__img-unvisible {
  width: 280px;
  height: 280px;
  background-size: cover;
  background-position: center;
  background-color: #fff;
}

@media only screen and (max-width: 700px) {
  .product-items {
    height: 300px;
  }
  .product-items__title {
   font-size: 14px;
}
}
