.choose-cover {
  display: flex;
}

.choose-checkin {
  color: #de682d;
  margin-top: 10px;
}

.choose-item {
  display: flex;
  margin-top: -10px;
   font-family: "RoadRadio-Thin";
}

h5 {
  margin-top: 15px;
  margin-left: 10px;
}

.choose-title h2{
  font-family: "RoadRadio";
}

.choose-item-description {
  margin-top: -15px;
  font-weight: 600;
  color: rgba(34, 34, 34, 0.788);
  font-size: 15px;
  font-family: "RoadRadio-Thin";
}

.choose-cover-advice {
  width: 570px;
  margin-right: 10px;
}

/* новые стили для двух колонок */
.choose-columns {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}

.choose-column {
  flex: 1;
}

@media (max-width: 707px) {
  .choose-cover {
    display: flex;
    flex-direction: column;
  }
  .choose-cover-advice {
    width: 95%;
  }
  .choose-columns {
    flex-direction: column;
  }
  .choose-item-description {
    font-size: 12px;
  }
}
