/* .container {
    margin:20px 0 70px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 24px;
    padding: 16px;
    background: linear-gradient(135deg, #f0f4ff, #f68732ba);
    border-radius: 16px;
  }

  .tour-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .tour-image-vertical {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 360px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
  }

  .tour-text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0;
  }
   */

.event-schedule-container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0px 20px 50px 0; */
  font-family: "Montserrat", sans-serif;
}

.event-schedule-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  font-family: "Montserrat", sans-serif;
}

.card-item {
  box-shadow: 0 4px 12px rgba(247, 112, 45, 0.933);
  border-radius: 12px;
  padding: 16px;
  font-family: "RoadRadio", sans-serif;
  height: 100%;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "RoadRadio", sans-serif;
}

.card-description {
  color: #4a4a4a;
  margin: 8px 0;
  font-family:"RoadRadio-Thin", sans-serif;
}

.card-price {
  font-weight: 600;
  color: #333;
  font-family: "RoadRadio", sans-serif;
}

.card-buttons {
  margin-top: 16px;
  display: flex;
  gap: 12px;
  font-family: "RoadRadio", sans-serif;
}

.custom-button {
  background-color: #f68632;
  border-color: #f68632;
  color: white;
  font-family: "RoadRadio", sans-serif;
}

.custom-button:hover {
  background-color: #e0772a ;
  color:#e0772a !important;
  border-color: #e0772a !important;
  font-family: "RoadRadio", sans-serif;
}

.card-image {
  width: 100%; 
  max-width: 100px; 
  height: 110px; 
  border-radius: 8px; 
  margin-bottom: 16px; 
}
.card-header {
  display: flex;
  align-items: center;
  gap: 16px; 
  font-family: "RoadRadio", sans-serif;
}

.button {
  font-family: "RoadRadio", sans-serif;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
  font-family: "RoadRadio", sans-serif;
}

.filter-button {
  padding: 10px 20px;
  font-size: 16px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "RoadRadio", sans-serif;
}

.filter-button:hover {
  background: #ff7f50;
  color: white;
}

.filter-button.active {
  background: #ff7f50;
  color: white;
  border-color: #ff7f50;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tripe-text {
  font-weight: 700;
  display: inline-block;
 font-family: "RoadRadio", sans-serif;;
  padding: 0 4px;
}

.event-schedule-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
  font-family: "RoadRadio", sans-serif;
}
.back-button {
  background: transparent;
  border: none;
  color: #000; 
  font-size: 16px;
  display: flex;
  align-items: center;
  /* gap: 6px; */
  cursor: pointer;
}

.back-button:hover {
  color: #ff6a2b;
}

.back-button-cover {
  color: #000; 
}

@media (max-width: 768px) {
  .event-schedule-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .event-schedule-title {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}