.delivery-terms-container {
  font-family: "RoadRadio", sans-serif;
  margin: 20px 0px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
}


.delivery-title {
  font-weight: 700;
  text-align: left;
  margin-bottom: 30px;
  font-family: "RoadRadio" !important;
  color: #e97638ff;
  font-size: 2.125rem;
}

.delivery-subtitle {
  font-family: "RoadRadio" !important;
  font-weight: 600;
  font-size: 1.25rem;
}


.delivery-texts {
  font-family: "RoadRadio-Thin" !important;
 
}

.delivery-text-free {
  color: green;
  font-family: "RoadRadio-Thin" !important;
  font-size: 1rem;
}

.delivery-warning {
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "RoadRadio" !important;
  font-size: 0.875rem;
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.warning-icon {
  color: red;
  font-size: 1rem;
  margin-right: 4px;
}

.delivery-contact-text {
  margin-top: 8px;
  font-family: "RoadRadio"!important;
  font-size: 0.875rem;
}


.whatsapp-link {
  color: #bf561f;
  text-decoration: underline #bf561f !important;
  margin: 4px;
}

.whatsapp-link:hover {
  color: #a0481a;
}


.phone-links-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}


.phone-link {
  color: #000000ff;
  font-family: "RoadRadio-Thin" !important;
  text-decoration: none;
}

.phone-link:hover {
  color: #bf561f;
  text-decoration: underline;
}