.return-policy {
  font-family: "RoadRadio", sans-serif !important;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}

.return-policy h1 {
  font-family: "RoadRadio", sans-serif !important;
  font-size: 24px;
  font-weight: bold;
  text-align: center;

  /* margin-top: 20px; */
}

.return-policy h2 {
   font-family: "RoadRadio", sans-serif !important;
  font-size: 18px;

  /* margin-top: 30px;
  margin-bottom: 10px; */
  color: #222;
}

.return-policy p {
    font-family: "RoadRadio", sans-serif !important;
  margin-bottom: 10px;
}

.return-policy ul {
  font-family: "RoadRadio", sans-serif !important;
  padding-left: 20px;
  margin-bottom: 10px;
}

.return-policy ul li {
   font-family: "RoadRadio", sans-serif !important;
  list-style-type: disc;
  margin-bottom: 5px;
}

.return-policy a {
   font-family: "RoadRadio", sans-serif !important;
  color: #007acc;
  text-decoration: underline;
}

.return-policy .note {
  font-family: "RoadRadio", sans-serif !important;
  color: #b30000;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
}
