

/* Контейнер для скролла */
.search-container > div:first-child {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.search-container > div:first-child::-webkit-scrollbar {
  display: none;
}