.ant-menu-horizontal .ant-menu-item-selected {
 color: #de682d!important;
 
}

.ant-menu-horizontal > .ant-menu-item-selected::after {
  border-bottom: 2px solid #de682d !important;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  color: #de682d !important;
}

.ant-menu-horizontal > .ant-menu-item:hover::after {
  border-bottom: 2px solid #de682d !important;
}


.ant-menu-horizontal > .ant-menu-item:hover {
  color: #de682d !important;
}

/* Контейнер для скролла */
.search-container > div:first-child {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.search-container > div:first-child::-webkit-scrollbar {
  display: none;
}