.home-page-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

@media (max-width: 900px) {
  .home-page-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }
}

@media (max-width: 500px) {
  .home-page-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.title {
  /* padding-top: 15px; */
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.categories-item {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 500ms ease;
  color: #222;
  position: relative;
  display: inline-block;
}

.categories-item-img:hover {
  border: 1px solid #f68632;
  background-color: #fff;
  position: relative;
  display: inline-block;
}

.categories-item-title {
  font-weight: 600;
}

.categories-item-img {
  width: 160px;
  border: 1px solid #000;
}

.categories {
  display: flex;
  margin-bottom: 60px;
  margin-left: -25px;
  height: 300px;
}

.home-page__container {
  margin-top: 20px;
}

.home-page__container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: -15px;
}
@media only screen and (max-width: 1104px) {
  .categories {
    display: flex;
    margin-bottom: 80px;
    margin-left: -35px;
    margin-top: 25px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 60px;
    height: 300px;
  }
  .arrow-cover {
    overflow: hidden;
  }
}

.arrow-cover {
  position: absolute;
  right: 100px;
  margin-top: 25px;
}

.arrow-cover-right {
  margin-left: 50px;
}

.arrow-categories {
  width: 35px;
  height: 35px;
  background-color: #ffffffff;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30px;
  bottom: 20px;
  right: 50px;
  /* margin: auto; */
  cursor: pointer;
  transition: all 500ms ease;
  opacity: 0.8;
  z-index: 2000;
}

.arrow-categories-left {
  width: 35px;
  height: 35px;
  background-color: #ffffffff;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30px;
  bottom: 0;
  right: 0px;
  /* margin: auto; */
  cursor: pointer;
  transition: all 500ms ease;
  opacity: 0.8;
  z-index: 2000;
}

.arrow-categories:hover {
  background-color: #f6f6f6f5;
  border: 2px solid #f68632;
}

.arrow-categories-left:hover {
  background-color: #f6f6f6f5;
  border: 2px solid #f68632;
}

@media only screen and (max-width: 853px) {
  .categories {
    margin-top: -10px;
  }
  .home-page__container-title {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 614px) {
  .home-page__container-title {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 469px) {
  .home-page__container-title {
    margin-top: 50px;
  }
}

.button-rules {
  background-color: #fff;
  border: 1px solid #f68632;
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 15px;
  color: #222;
}

.back-button-cover {
  margin-top: 50px;
}
@media only screen and (max-width: 785px) {
  .back-button-cover {
    margin-top: 65px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 615px) {
  .back-button-cover {
    margin-top: 80px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 468px) {
  .back-button-cover {
    margin-top: 45px;
    margin-bottom: 10px;
  }
}
.slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2000;
}

/* .slick-prev {

  left: -100px;
}

.slick-next {
  right: 50px;
} */
