.cover-routes {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 карточки */
  gap: 20px;
  padding: 0 10px;
  margin-bottom: 40px;
}



.routes-cover-block {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
}

.routes-cover-block:hover {
  transform: scale(1.03);
}

.routes-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.routes-title{
  font-family: "RoadRadio";
  margin: 40px 0px;
}

.routes-cover-title {
  padding: 10px;
  text-align: center;
  font-family: "RoadRadio-Thin";
}

.routes-item-page {
  font-weight: 600;
  font-size: 13px;
  margin-top: -5px;
  text-decoration: underline;
  font-family: "RoadRadio";
}

.routes-cover-summary {
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .cover-routes {
    grid-template-columns: repeat(2, 1fr); /* Планшеты */
  }
}

@media (max-width: 600px) {
  .cover-routes {
    grid-template-columns: 1fr; /* Мобильные устройства */
  }
}
