@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

@font-face {
  font-family: "RoadRadio-Light";
  src: url("/fonts/RoadRadio-Light.woff2") format("woff2"),
       url("/fonts/RoadRadio-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RoadRadio-Bold";
  src: url("/fonts/RoadRadio-Bold.woff2") format("woff2"),

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.App {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* padding-left: 40px; */
}

a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
}
