
@font-face {
  font-family: "RoadRadio";
  src: url("/fonts/RoadRadio.woff") format("woff"),
       url("/fonts/RoadRadio.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RoadRadio-Light";
  src: url("/fonts/RoadRadio-Light.woff2") format("woff2"),
       url("/fonts/RoadRadio-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RoadRadio-Bold";
  src: url("/fonts/RoadRadio-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RoadRadio-Thin";
  src: url("../public/fonts/RoadRadio-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: "RoadRadio-Light", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

.App {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
  color: #222;
  font-family: "RoadRadio-Light", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* padding-left: 40px; */
}

a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
  font-family: "RoadRadio-Thin", sans-serif;
}
