.items-in-cart {
  position: absolute;
  background-color: #f68632;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
  left: 12px;
  top: -7px;
  font-weight: bold;
  box-sizing: border-box;
}

/* Разные размеры через классы */
.items-in-cart.size-small {
  width: 20px;
  height: 20px;
  font-size: 12px;
}

.items-in-cart.size-medium {
  width: 24px;
  height: 24px;
  font-size: 11px;
  left: 10px; /* корректируем позицию */
  top: -9px;
}

.items-in-cart.size-large {
  width: 28px;
  height: 28px;
  font-size: 10px;
  left: 8px; /* корректируем позицию */
  top: -11px;
}
@media (max-width: 768px) {
  .items-in-cart {
    width: 18px;
    height: 18px;
    font-size: 11px;
    right: -4px;
    top: 4px;
  }
}

@media (max-width: 480px) {
  .items-in-cart {
    width: 16px;
    height: 16px;
    font-size: 10px;
    right: -3px;
    top: 3px;
  }
}