.items-in-cart {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f68632;
  border-radius: 60%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
  left: 12px;
  top: -5px;
}

.items-in-cart:not(:empty) {
  min-width: 20px; 
  min-height: 20px; 
  width: auto;
  height: auto; 
  padding: 1 3px;
}


@media (max-width: 768px) {
  .items-in-cart {
    width: 18px;
    height: 18px;
    font-size: 11px;
    right: -4px;
    top: 4px;
  }
}

@media (max-width: 480px) {
  .items-in-cart {
    width: 16px;
    height: 16px;
    font-size: 10px;
    right: -3px;
    top: 3px;
  }
}