.product-items {
  width: 100%;
  margin-bottom: 50px;
  background: #f5f5f5f5;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  text-align: center;
}

.product-items_img {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
