

.works-photos-title{
  font-family: "RoadRadio", sans-serif;
  text-align: center;
}

.images-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 20px 0px;
  width: 100%;
  height: calc(100% - 20px);
 
}

.modal-image {
  width: 38%;
  border-radius: 5px;
  height: auto;     
  object-fit: cover;
}

.service-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}

.service-table th,
.service-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.service-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.service-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.service-table tr:hover {
  background-color: #f1f1f1;
}

.back-button {
  background: transparent;
  border: none;
  color: #000; 
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.back-button:hover {
  color: #ff6a2b;
}

.back-button-cover {
  color: #000; 
}

@media (max-width: 768px) {
  .images-container {
    gap: 15px; 
     flex-wrap: wrap;
  }
  
  .modal-image {
    width: calc(50% - 8px);
    min-width: calc(50% - 8px); 
  }
}

@media (max-width: 480px) {
  .images-container {
    gap: 10px; 
     flex-wrap: wrap;
  }
  
  .modal-image {
    width: calc(50% - 5px);
    min-width: calc(50% - 5px);
  }
}