.container-form {
  max-width: 400px;
  /* margin: 0 auto; */
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  font-family: "RoadRadio-Light", sans-serif;
}

.title-form {
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
  font-weight: bold;
  font-family: "RoadRadio-Thin", sans-serif;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

/* label {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 500;
} */

/* input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
} */

.input,
.input-text {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  font-family: "RoadRadio-Thin", sans-serif;
}

.input-text {
  min-height: 80px;
  resize: vertical;
}

.input-error {
  font-size: 12px;
  color: red;
  margin-top: 4px;
}

.button-form {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background: #f68632;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "RoadRadio-Thin", sans-serif;
}

.button-form:hover {
  background: #f99447;
}

.comment-note {
  background-color: #fff3cd; /* мягкий желтый фон */
  color: #856404; /* тёмно-жёлтый текст */
  padding: 10px 12px;
  border-left: 4px solid #ffc107;
  border-radius: 4px;
  font-size: 14px;
  margin: 12px 0;
  line-height: 1.5;
  font-family: "RoadRadio-Thin", sans-serif;
}

@media (max-width: 480px) {
  .container-form {
    padding: 16px;
  }

  .button-form {
    font-size: 14px;
  }
}
