.product-items__price {
  padding-left: 7px;
  font-family: "RoadRadio-Light", sans-serif;
  font-weight: 100;
  font-family: "RoadRadio" !important;
}

.product-items__old-price.discounted {
  font-size: 12px;
  font-family: "RoadRadio" !important;
}
.product-items__price.discounted {
  font-size: 12px;
  font-family: "RoadRadio" !important;
}

.product-items__count {
  border: 1px solid white;
  color: #de682d;
  border-radius: 40px;
  background-color: white;
  padding: 1px 5px;
  font-family: "RoadRadio", sans-serif;
}

.container-items-price {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: "RoadRadio", sans-serif;
  font-weight: 100;
}

.add-to-cart-cover {
  width: 100%;
}

.add-to-cart.discounted {
  margin-top: 10px;
  background-color: #f87736;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  transition: transform 500ms ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-family: "RoadRadio", sans-serif;
}

.add-to-cart {
  margin-top: 10px;
  background-color: #f87736;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  transition: transform 500ms ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "RoadRadio-Light", sans-serif !important;
}

.product-items__price_page {
  font-size: 24px;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-family: "RoadRadio-Light", sans-serif !important;
  font-weight: 100;
}

.add-to-cart-page {
  margin-top: 10px;
  background-color: #f87736;
  width: 100%;
  margin-bottom: 10px;
  transition: transform 500ms ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "RoadRadio-Light", sans-serif !important;
}

.add-to-cart:hover {
  transform: scale(1.05);
}
.add-to-cart-page:hover {
  transform: scale(1.05);
}

.add-to-cart-title.discounted {
  color: white;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 10px;
  font-family: "RoadRadio-Light", sans-serif !important;
}

.add-to-cart-title {
  color: white;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: "RoadRadio-Light", sans-serif !important;
}

.add-to-cart-icon {
  display: inline-block;
  vertical-align: middle;
}

.product-items__oldPrice {
  text-decoration: line-through;
}

.shopping-cart-icon {
  width: 25px;
  height: 25px;
  color: white;
}
.shopping-cart-icon.discounted {
  width: 15px;
  height: 15px;
  color: white;
}
@media only screen and (max-width: 700px) {
  .add-to-cart-cover {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-to-cart-page {
    width: 400px;
  }
  .add-to-cart-cover button {
    display: flex;
    flex-direction: row;
  }

  .add-to-cart-title,
  .add-to-cart-title.discounted {
    font-size: 12px;
    white-space: nowrap;
  }

  .add-to-cart-icon,
  .shopping-cart-icon {
    width: 18px;
    height: 18px;
    margin: 0;
    flex-shrink: 0;
  }

  .product-items__count {
    display: none;
  }
}
