
.recommended-product-card {
  padding: 16px;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 300px;
}


.recommended-product-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  flex-shrink: 0;
}

.recommended-product-title {
  margin: 8px 0;
  font-size: 14px;
  font-family: "RoadRadio-Thin", sans-serif;
  font-weight: 300;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  text-align: center;
}