
.carousel-container { position: relative; overflow: visible; }
.my-swiper { overflow: hidden; position: relative;  width: 90% !important;
  max-width: 100vw !important;
  padding: 0 !important;
  box-sizing: border-box; }

.swiper-button-prev,
.swiper-button-next {
  color: #ff8000;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 1000;
}

.my-swiper .swiper-pagination-bullet {
  background: #717171;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.my-swiper .swiper-pagination-bullet-active {
  background: #ff6600 !important; 
}


.swiper-button-prev { left: -10px; }
.swiper-button-next { right: -10px; }


.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 50px;

  color: #ff8000;
  line-height: 1;
}

.swiper-button-prev::after {
  content: "‹";
}

.swiper-button-next::after {
  content: "›";
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .carousel-container,.my-swiper {
    margin: 0;
  }
}
