

.my-swiper {
  padding: 0 10px; 
}

.my-swiper .swiper-button-next,
.my-swiper .swiper-button-prev {
  color: #ff8000; 
  margin-top: -80px; 
}

.my-swiper .swiper-pagination-bullet {
 
  background: #717171;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.my-swiper .swiper-pagination-bullet-active {
  background: #ff6600 !important; 
}


@media (max-width: 768px) {


  .my-swiper .swiper-button-next,
  .my-swiper .swiper-button-prev {
    display: none !important;
  }
}


