
.recommended-product-card {
  padding: 16px;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 300px;
  box-sizing: border-box; 
}


.recommended-product-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  flex-shrink: 0;
}

.recommended-product-title {
  margin: 8px 0;
  font-family: "RoadRadio-Thin", sans-serif;
  font-weight: 300;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  text-align: center;
}

@media (max-width: 768px) {
  .recommended-product-card {
    min-height: 280px; 
    padding: 12px;
    gap:10px;
    width:30%
  }
  
  .recommended-product-title {
    font-size: 14px; 
    max-height: calc(1.2em * 2);
  }
  
  .recommended-product-image {
    height: 100px;
  }
}

/* В файле carousel.css */
.my-swiper {
  position: relative;
}

/* Кастомные стрелки */
.my-swiper .swiper-button-next,
.my-swiper .swiper-button-prev {
  color: #ff0000; /* Красный цвет */
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Отодвигаем стрелки от контента */
.my-swiper .swiper-button-next {
  right: -25px; /* Выдвигаем за пределы контейнера */
}

.my-swiper .swiper-button-prev {
  left: -25px; /* Выдвигаем за пределы контейнера */
}

/* Увеличиваем отступ на больших экранах */
@media (min-width: 1024px) {
  .my-swiper .swiper-button-next {
    right: -40px;
  }
  
  .my-swiper .swiper-button-prev {
    left: -40px;
  }
}


