/* Внешний контейнер — стрелки могут выступать */
.swiper-wrapper-outer {
  position: relative;
  overflow: visible; /* важно! */
}

/* Swiper сам */
.my-swiper {
  width: 90% !important;
  max-width: 100vw !important;
  padding: 0 !important;
  box-sizing: border-box;
 /* карточки не выступают */
  margin: 0 auto;
  position: relative;
}

/* Стрелки */
.swiper-button-prev,
.swiper-button-next {
  color: #ff8000;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 1000;
}

/* Смещаем стрелки за пределы слайдера */
.swiper-button-prev { left: -35px; }
.swiper-button-next { right: -35px; }

/* Мобильная версия */
@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
