
.recommended-product-card {
  padding: 16px;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 300px;
  box-sizing: border-box; 
}


.recommended-product-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  flex-shrink: 0;
}

.recommended-product-title {
  margin: 8px 0;
  font-family: "RoadRadio-Thin", sans-serif;
  font-weight: 300;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  text-align: center;
}

@media (max-width: 768px) {
  .recommended-product-card {
    min-height: 280px; 
    padding: 12px;
    gap:10px;
    width:30%
  }
  
  .recommended-product-title {
    font-size: 14px; 
    max-height: calc(1.2em * 2);
  }
  
  .recommended-product-image {
    height: 100px;
  }
}
.my-swiper {
  padding: 0 30px; 
}


.my-swiper .swiper-button-next,
.my-swiper .swiper-button-prev {
  color: #ff8000; /* Ваш цвет */

  margin-top: -20px; 
}

