
.carousel-container { position: relative; overflow: visible; }
.my-swiper {  width: 90% !important;
  max-width: 100vw !important;
  padding: 0 !important;
  box-sizing: border-box; }

.swiper-button-prev,
.swiper-button-next {
  color: #ff8000;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 1000;
}

.my-swiper .swiper-pagination-bullet {
  background: #717171;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.my-swiper .swiper-pagination-bullet-active {
  background: #ff6600 !important; 
}

.swiper-button-prev { left: -50px; }
.swiper-button-next { right: -50px; }

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .carousel-container,.my-swiper {
    margin: 0;
  }
}
