/* Внешний контейнер — для стрелок */
.swiper-wrapper-outer {
  position: relative;
  width: 100%;
  overflow: visible; /* стрелки могут вылезать */
}

/* Сам слайдер — прячем выступающие картинки */
.my-swiper {
  width: 100% !important;
  max-width: 100vw !important;
  box-sizing: border-box;
  overflow: hidden !important; /* чтобы картинки не вылезали */
  padding: 0 !important;
  position: relative;
}

/* Стрелки */
.my-swiper .swiper-button-next,
.my-swiper .swiper-button-prev {
  color: #ff8000;
  margin-top: -40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

/* Вынесем стрелки наружу */
.swiper-wrapper-outer .swiper-button-prev {
  left: -40px;
}

.swiper-wrapper-outer .swiper-button-next {
  right: -40px;
}

/* Пагинация */
.my-swiper .swiper-pagination-bullet {
  background: #717171;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.my-swiper .swiper-pagination-bullet-active {
  background: #ff6600 !important;
}

/* Адаптив */
@media (max-width: 768px) {
  .swiper-wrapper-outer .swiper-button-next,
  .swiper-wrapper-outer .swiper-button-prev {
    display: none !important;
  }

  .my-swiper .swiper-slide {
    width: calc((100% - 4px) / 2) !important;
    margin-right: 4px !important;
  }
}
