.my-swiper {
   width: 100% !important;
  max-width: 100vw !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.my-swiper .swiper-button-next,
.my-swiper .swiper-button-prev {
  color: #ff8000; 
  margin-top: -40px; 
}

.my-swiper .swiper-pagination-bullet {
  background: #717171;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.my-swiper .swiper-pagination-bullet-active {
  background: #ff6600 !important; 
}


@media (max-width: 768px) {
  .my-swiper .swiper-button-next,
  .my-swiper .swiper-button-prev {
    display: none !important;
  }
 .my-swiper .swiper-slide {
    width: calc((100% - 4px) / 2) !important; 
    margin-right: 4px !important;
  }

}

