/* Контейнер слайдера */
.my-swiper {
  width: 90% !important;
  max-width: 100vw !important;
  padding: 0 !important;
  box-sizing: border-box;
  position: relative; /* важно для абсолютного позиционирования стрелок */
  overflow: hidden;   /* чтобы карточки не вылезали */
}

/* Стрелки */
.swiper-button-prev,
.swiper-button-next {
  color: #ff8000; 
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 1000;
}

/* Сдвигаем стрелки за пределы слайдера */
.swiper-button-prev {
  left: -10px; /* левее контейнера */
}

.swiper-button-next {
  right: -10px; /* правее контейнера */
}

/* Мобильная версия */
@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  .my-swiper .swiper-slide {
    width: calc((100% - 4px) / 2) !important; 
    margin-right: 4px !important;
  }
}
