.delivery-strip {
  background-color: #000;
  color: #fff;
  padding: 4px 10px;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 110;
  overflow: hidden;
  white-space: nowrap;
}

.delivery-text {
  text-align: center;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-family: "RoadRadio";
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #de682d;
}

@media (max-width: 767px) {
  .delivery-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 15s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

